<%- include ('partials/navbar.ejs')%> <%- include ('partials/header.ejs')%>

<h1 id="" style="text-align: center; font-family: valorant; margin-top: 350px;" ;>
  Bem-vindo ao melhor site de Skin!
</h1>


<%- include ('partials/footer.ejs')%>
